<div class="panel-full">
	<h1 id="title"><b>Vem ai, a nova sensaçao do momento<b></h1>

	<%= image_tag "astronauta.png", id: "astronauta", class: "shake shake-constant shake-slow" %>
	<a href="#waiting">
		<%= image_tag "down-arrow.png", id: "down-arrow" %>
	</a>
</div>

<div class="panel-full waiting" id="waiting">
	<h1 id="title"><b>Aguarde ...<b></h1>

</div>